@import url(_reset.css);
@import url(_variaveis.css);

body {
	background-color: var(--cor-branca);
	color: var(--cor-preta);
	font-family: var(--fonte-familia-corpo);
	height: 80vh;
	width: 10vw;
	padding: 6rem;
	
}


