.botao {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 24px;
    color: var(--cor-branca);   
    background-color: var(--cor-azul);
    border-radius: 100px;
}

.botao__login{
    width: 315px;
    height: 40px;
    margin-bottom: 1.5rem;
    margin-left: 2.5rem;
}

.botao__login.error{
    background: var(--cor-erro);
}

.botao__login.sucesso{
    background: var(--cor-sucesso)
}

.botao__registrar{
    width: 259px;
    height: 40px;
    margin-left: 4.5rem;
}

.botao__registrar.error{
    background: var(--cor-erro);
}

.botao__registrar.sucesso{
    background: var(--cor-sucesso)
}
.login__submit{
    background: var(--input-error)
}
